/* 重置一些默认样式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    height:350px;
    position: relative;
    
}

@keyframes twinkle {
    0% {
        opacity: 0.2;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.2;
    }
}

header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: 
        radial-gradient(circle, rgba(255, 255, 255, 1) 1%, transparent 0%),
        radial-gradient(circle, rgba(255, 255, 255, 1) 1%, transparent 0%),
        radial-gradient(circle, rgba(255, 255, 255, 1) 1%, transparent 0%),
        radial-gradient(circle, rgba(255, 255, 255, 1) 1%, transparent 0%),
        radial-gradient(circle, rgba(255, 255, 255, 1) 1%, transparent 0%),
        radial-gradient(circle, rgba(255, 255, 255, 1) 1%, transparent 0%),
        radial-gradient(circle, rgba(255, 255, 255, 1) 1%, transparent 0%),
        radial-gradient(circle, rgba(255, 255, 255, 1) 1%, transparent 0%),
        radial-gradient(circle, rgba(255, 255, 255, 1) 1%, transparent 0%),
        radial-gradient(circle, rgba(255, 255, 255, 1) 1%, transparent 0%),
        radial-gradient(circle, rgba(255, 255, 255, 1) 1%, transparent 0%);
    background-position: 20% 30%, 35% 70%,
    10% 10%,  /* 点1的位置 */
    30% 40%,  /* 点2的位置 */
    70% 20%,  /* 点3的位置 */
    100% 60%,  /* 点4的位置 */
    80% 80%,  /* 点5的位置 */
    90% 30%;  /* 点6的位置 */

    background-size: 250px 250px, 250px 250px;
    background-repeat: no-repeat;
    pointer-events: none;
    z-index: 1;
    animation: twinkle 2s infinite; /* 添加闪烁动画 */
}

#changeColorBtn {
    position: absolute; /* 绝对定位 */
    bottom: 0px; /* 距离底部 20px */
    right: 0px; /* 距离右边 20px */
    background-color: rgb(237, 144, 159);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#changeColorBtn:hover {
    background-color: rgb(237, 144, 159); /* 鼠标悬停时背景颜色 */
}

header h1 {
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
}

.profile-photo {
    max-height: 200px;
    border-radius: 5%;
    margin-top: 10px;
}

.container {
    text-align: center;
    position: relative;
}

section {
    margin: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
}

ul li {
    margin: 5px 0;
}
a {
    color:rgb(237, 144, 159); /* 设置超链接正常状态下的颜色为粉色 */
    text-decoration: none; /* 去除下划线 */
}

a:hover {
    color: blue; /* 悬停时变成蓝色 */
}

footer {
    text-align: center;
    margin-top: 30px;
}